<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776902688832-vgbnm94vddlojgr85ghpi26riaa3u7ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776902688832-vgbnm94vddlojgr85ghpi26riaa3u7ob</string>
	<key>API_KEY</key>
	<string>AIzaSyATZhtmPQ7pgH3OcQF9gotLX6q7stryLqE</string>
	<key>GCM_SENDER_ID</key>
	<string>776902688832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Omega.SwiftUI---UIKit</string>
	<key>PROJECT_ID</key>
	<string>city-guide-1418b</string>
	<key>STORAGE_BUCKET</key>
	<string>city-guide-1418b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776902688832:ios:f1f4680f23bd464ac9dfa5</string>
</dict>
</plist>